div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	border: 2px solid black;
}	

.animated {
	animation: spin 4s linear 1 forwards;
}

@keyframes spin {
	25% {
		transform: scale(140%, 140%) translate(-36%, -36%) rotate(180deg);
	}

	50% {
		transform: scale(100%, 100%) translate(-50%, -50%) rotate(360deg);
	}

}